.ingrContainer {
  border: 2px solid #68662a;
  border-radius: 30px;
  padding: 30px 40px;
  margin: 40px auto;
  width: 80%;
}

.ingrContainer p {
  opacity: 25%;
}

.ingrContainer hr {
  height: 1.3px;
  color: #68662a;
  background-color: #68662a;
}

.ingrBtnSearch button {
  margin: 40px auto 10px;
  display: block;
}
