.App {
  text-align: left;
  max-width: 65%;
  margin: 24px auto;
}

h1 {
  font-size: 40px;
  color: #b3601c;
  margin: 10px auto;
}

p {
  font-size: 20px;
}

.message {
  color: #68662a;
  text-align: center;
}

.icon {
  margin-right: 8px;
}
